<app-encabezado></app-encabezado>

<section class="opera">
  <button class="button"><a [routerLink]="['/suma']">Suma</a></button>
  <button class="button"><a [routerLink]="['/resta']">Resta</a></button>
  <button class="button"><a [routerLink]="['/multiplicacion']">Multiplicacion</a></button>
  <button class="button"><a [routerLink]="['/division']">Division</a></button>
  <button class="button"><a [routerLink]="['/potencia']">Potencia</a></button>
  <button class="button"><a [routerLink]="['/raiz-cuadrada']">Raiz Cuadrada</a></button>
</section>

<section id="content">
  <router-outlet></router-outlet>
</section>